
.hero-home{
    font-size: 3.5rem;
    color: #252525;
    font-weight: 600;
}


.cta-btn {
    /* border: 2px solid #f9c4c2 !important; */
    border-radius: 5px !important;
    background-color: #fedfde !important;
}

/* home cards */
.card-content {
    scroll-snap-align: start;
    border-radius: 25px;
    box-shadow: 0px 10px 39px -19px rgba(0,0,0,0.75);
    transition: all 200ms ease;
    padding: 10px;
}
.card-content:hover{
    transform: translateY(-3px);
} 
.card-title {
    font-weight: 700;
}
.card-price p {
    font-size: 1.5rem;
    font-weight: 700;
}
.buy-button{
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid #252525;
    color: #252525;
    border-radius: 25px;
    transition: all 200ms ease;
}
.buy-button:hover{
    color: #f9c4c2;
    background-color: #252525;
}
strong {
    background-color: #252525;
    color: #f9c4c2;
    padding: 5px 10px;
    border-radius: 25px;
}

del {
    color: #454545
}
.card-text {
    display: flex;
    align-items: center;
    gap: 9px;
}

.img-services{
 /* padding: 0 !important; */
 /* border-radius: 8px; */
}

.services-container{
    max-width: 100vw !important;
    overflow-x: auto !important;
}

@keyframes swingAnimation {
    0%, 100% {
    transform:  rotate(0deg);
    }
    50% {
      transform:  rotate(15deg); 
    }
    
    
  }
  
  .swing-svg {
    animation: swingAnimation 8s ease-in-out infinite;
    transform-origin:center !important;
  }
  
  .resena-uno{
    /* border: 2px solid #252525; */
  }

  .lumin-btn-secondary{
    background-color: #f9c4c2 !important;
    color: #252525 !important;
    border: 1px solid #252525 !important;
}