.hero-home{
    font-size: 3.5rem;
}
.hero-home{
    color: #252525;
    font-weight: 600;
}

.home_container img {
    

}
.cta-btn {
    /* border: 2px solid #f9c4c2 !important; */
    border-radius: 5px !important;
    background-color: #fedfde !important;
}