@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none !important;
}

/* Store */

.no-overflow {
  overflow: hidden;
}

.contenedor{
}

.store-hair{
  background-image: url('assets/images/hair.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #bacceb;
  height: 100%;
  opacity: 0.5;
  transition: 0.5s;
}

.store-body{
  background-image: url('assets/images/body.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fedfde;
  height: 100%;
  opacity: 0.5;
  transition: 0.5s;
}

.store-face{
  background-image: url('assets/images/face.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e0dfe6;
  height: 100%;
  opacity: 0.5;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .store-hair, .store-body, .store-face {
      height: 33vh;
      background-size: contain;
  }
}

.store-hair div{
  opacity: 0;
  font-size: xx-large;
  transition: opacity 0.5s;
  background-color: rgb(37,37,37);
  color: #fedfde;
  padding: 5px 10px;
  border-radius: 8px;
}

.store-body div{
  opacity: 0;
  font-size: xx-large;
  transition: opacity 0.5s;
  background-color: rgb(37,37,37);
  color: #fedfde;
  padding: 5px 10px;
  border-radius: 8px;
}

.store-face div{
  opacity: 0;
  font-size: xx-large;
  transition: opacity 0.5s;
  background-color: rgb(37,37,37);
  color: #fedfde;
  padding: 5px 10px;
  border-radius: 8px;
}

.store-hair:hover div{
  transition: 1s;
  opacity: 0.8;
}

.store-body:hover div{
  transition: 1s;
  opacity: 0.8;
}

.store-face:hover div{
  transition: 1s;
  opacity: 0.8;
}

.store-hair:hover{
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.store-body:hover{
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.store-face:hover{
  transition: 0.5s ease-in-out;
  opacity: 1;
}

/* Contacto */

.input-form {
  border-radius: 5px;
  margin: 12px;
  display: flex;
  font-family: sans-serif;
  border: black solid 2px;
  height: 30px;
  width: 300px;
  text-transform: capitalize;
  text-indent: 5px;
}

.mensaje-form {
  border-radius: 5px;
  display: flex;
  margin: 12px;
  font-family: sans-serif;
  border: black solid 2px;
  height: 100px;
  width: 300px;
  text-transform: capitalize;
  text-indent: 5px;
}

.imagen-contacto {
  height: 520px;
  border-radius: 5px;
  box-shadow: #18172b 7px 7px 20px;
  margin: 50px;
}

.formulario{
  background-color: #f8f9fa;
  border-radius: 5px;
  height: 450px;
  font-family: sans-serif;
  font-size: large;
}

.formulario-label {
  margin-top: 50px;
}

.success-message {
  font-family: sans-serif;
  font-size: 15px;
  color: black;
  margin-top: 15px;
}