@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none !important;
}

.store-hair{
  background-image: url('assets/images/hair.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #bacceb;
  color: white;
}

.store-body{
  background-image: url('assets/images/body.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fedfde;
  color: white;
}

.store-face{
  background-image: url('assets/images/face.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e0dfe6;
  color: white;
}

.store-hair:hover{
  transition: 0.8s ease-in-out;
  font-size: xx-large;
}

.store-body:hover{
  transition: 0.8s ease-in-out;
  font-size: xx-large;
}

.store-face:hover{
  transition: 0.8s ease-in-out;
  font-size: xx-large;
}
